@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/variables';

.button {
  padding: $space-sm $space-md;
  font-size: $font-size-base;
  background-color: $color-bg-secondary;
  border: 1px solid $color-text-primary;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: $color-button-disabled;
    cursor: not-allowed;
  }
}